{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Renglones{% endblock %}

{% block content %}

    <br />
    <h2>Edicion de Renglon</h2>
    <br />

    <form action="{{ path('renglon_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('renglon') }}">
                Back to the list
            </a>
        </li>
        <li>
            <form action="{{ path('renglon_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

{% endblock %}
