{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Listado de Proveedores{% endblock %}
{% block content %}

<h1>Listado de Proveedores</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Dolar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.direccion }}</td>
            <td>{{ entity.telefono }}</td>
            <td>{{ entity.dolar }}</td>
            <td>
                <button class="btn btn-info" onclick="location='{{ path('proveedor_show', { 'id': entity.id }) }}'"><i class="icon-file icon-white"></i></button>
                <button class="btn btn-primary" onclick="location='{{ path('proveedor_edit', { 'id': entity.id }) }}'"><i class="icon-pencil icon-white"></i></button>
                <button class="btn btn-danger" onclick="delete_item('{{ path('proveedor_delete', { 'id': entity.id }) }}', 'Are you sure you want to delete this item?')"><i class="icon-trash icon-white"></i></button>
             </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button class="btn btn-success" onclick="location='{{ path('proveedor_new') }}'"><i class="icon-plus icon-white"></i> Añadir nuevo Proveedor</button>

{% javascripts
    '@DNTWorkshopBundle/Resources/public/js/ajax_delete.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
