{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Proveedores{% endblock %}
{% block content %}
    <br />
    <h2>Nuevo Proveedor</h2>
    <br />

    <form action="{{ path('proveedor_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {% include 'DNTWorkshopBundle:Proveedor:supplierFields.html.twig' with {'edit_form': form}%}
            <div class="row">
                <button type="submit" class="btn btn-success"><i class="icon-ok-sign icon-white"></i> Crear</button>
                <button type="submit" class="btn btn-success" onclick="location='{{ path('proveedor') }}'"><i class="icon-ok-sign icon-white"></i> Crear y continuar</button>
            </div>

        {{ form_rest(form) }}
    </form>

    <button class="btn btn-info" onclick="location='{{ path('proveedor') }}'"><i class="icon-arrow-left icon-white"></i> Retroceder</button>

{% endblock %}
