{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Reglas{% endblock %}
{% block content %}

    <br />
    <h2>Listado de Reglas</h2>
    <br />
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Operando</th>
                <th>Valor</th>
                <th>Proveedor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.operando }}</td>
                <td>{{ entity.valor }}</td>
                <td>{{ entity.idProveedor }}</td>
                <td>
                    <button class="btn btn-info" onclick="location='{{ path('regla_show', { 'id': entity.id }) }}'"><i class="icon-file icon-white"></i></button>
                    <button class="btn btn-primary" onclick="location='{{ path('regla_edit', { 'id': entity.id }) }}'"><i class="icon-pencil icon-white"></i></button>
                    <button class="btn btn-danger" onclick="delete_item('{{ path('regla_delete', { 'id': entity.id }) }}', '{{entity.id}}', '{{ csrf_token }}', 'Esta seguro que desea eliminar este elemento?')"><i class="icon-trash icon-white"></i></button>
                 </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-success" onclick="location='{{ path('regla_new') }}'"><i class="icon-plus icon-white"></i> Añadir nueva regla</button>

    {% javascripts '@DNTWorkshopBundle/Resources/public/js/ajax_delete.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
