    <div class="span12">

        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid">
                    {{ form_label(edit_form.nombre) }}
                    {{ form_errors(edit_form.nombre) }}
                    {{ form_widget(edit_form.nombre) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.cantidad) }}
                    {{ form_errors(edit_form.cantidad) }}
                    {{ form_widget(edit_form.cantidad) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.codigoBarra) }}
                    {{ form_errors(edit_form.codigoBarra) }}
                    {{ form_widget(edit_form.codigoBarra) }}
                </div>
            </div>

            <div class="span3">
                <div class="row-fluid">
                    {{ form_label(edit_form.costo) }}
                    {{ form_errors(edit_form.costo) }}
                    {{ form_widget(edit_form.costo) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.precioVenta) }}
                    {{ form_errors(edit_form.precioVenta) }}
                    {{ form_widget(edit_form.precioVenta) }}
                </div>
                <div class="row-fluid">
                    {{ form_label(edit_form.codigoProveedor) }}
                    {{ form_errors(edit_form.codigoProveedor) }}
                    {{ form_widget(edit_form.codigoProveedor) }}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    {{ form_label(edit_form.descripcion) }}
                    {{ form_errors(edit_form.descripcion) }}
                    {{ form_widget(edit_form.descripcion) }}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid">
                    <div class="row-fluid">
                        {{ form_label(edit_form.idCategoria) }}
                        {{ form_errors(edit_form.idCategoria) }}
                        {{ form_widget(edit_form.idCategoria) }}
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="row-fluid">
                    <div class="row-fluid">
                        {{ form_label(edit_form.imagen.file) }}
                        {{ form_errors(edit_form.imagen.file) }}
                        {{ form_widget(edit_form.imagen.file) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid">
                    <div class="row-fluid">
                        {{ form_label(edit_form.Proveedor) }}
                        {{ form_errors(edit_form.Proveedor) }}
                        {{ form_widget(edit_form.Proveedor) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
