{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Articulos{% endblock %}

{% block content %}

    <br />
    <h2>Catalogo de Articulos</h2>
    <br />

    {% if entities %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Código Proveedor</th>
                <th class="right">Cantidad</th>
                <th class="right">Costo</th>
                <th class="right">Precio</th>
                <th class="center"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="{{ entity.id }}">
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion|slice(0, 25) }}</td>
                <td>{{ entity.codigoProveedor }}</td>
                <td class="right">{{ entity.cantidad }}</td>
                <td class="right">$ {{ entity.costo|number_format(2, '.', ' ') }}</td>
                <td class="right">$ {{ entity.precioVenta|number_format(2, '.', ' ') }}</td>
                <td class="center">
                    <button class="btn btn-info" onclick="location='{{ path('articulo_show', { 'id': entity.id }) }}'"><i class="icon-file icon-white"></i></button>
                    <button class="btn btn-primary" onclick="location='{{ path('articulo_edit', { 'id': entity.id }) }}'"><i class="icon-pencil icon-white"></i></button>
                    <button type="submit" class="btn btn-danger" onclick="delete_item('{{ path('articulo_delete', { 'id': entity.id }) }}', '{{entity.id}}', '{{ csrf_token }}', 'Esta seguro que desea eliminar este elemento?')"><i class="icon-trash icon-white"></i></button>
               </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        {{ knp_pagination_render(entities) }}

    {% endif %}

    <button class="btn btn-success" onclick="location='{{ path('articulo_new') }}'"><i class="icon-plus icon-white"></i> Añadir nuevo articulo</button>
    {% javascripts '@DNTWorkshopBundle/Resources/public/js/ajax_delete.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

