{% extends 'DNTWorkshopBundle::base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
		    <div id="contenedorGeneral">
		        <ul class="menuright">
		            <li>
		                <a href="#" class="menu_title">Buscar Producto</a>
		                <ul {% if section is not defined or section != 'search' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('DNTWorkshopBundle_homepage') }}">Búsqueda Simple</a></li>
		                    <li><a href="{{ path('DNTWorkshopBundle_advanced') }}">Búsqueda Avanzada</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="{{ path('DNTWorkshopBundle_buscarProveedor') }}" >Buscar Proveedor</a>
		            </li>
		            <li>
		                <a href="#" class="menu_title">Caja</a>
		                <ul {% if section is not defined or section != 'cash' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('DNTWorkshopBundle_shop') }}">Carrito de Compras</a></li>
		                    <li><a href="{{ path('DNTWorkshopBundle_orders') }}">Pedidos a Proveedores</a></li>
		                    <li><a href="{{ path('DNTWorkshopBundle_sales') }}">Ventas Realizadas</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="#" class="menu_title">Administrar Articulos</a>
		                <ul {% if section is not defined or section != 'article' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('articulo') }}">Listar Catálogo</a></li>
		                    <li><a href="{{ path('articulo_new') }}">Agregar Articulo</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="#" class="menu_title">Administrar Proveedores</a>
		                <ul {% if section is not defined or section != 'provider' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('proveedor') }}">Listar Proveedores</a></li>
		                    <li><a href="{{ path('proveedor_new') }}">Agregar Proveedor</a></li>
		                </ul>
		            </li>
		            <li>
		                <a href="#" class="menu_title">Administrar Categorias</a>
		                <ul {% if section is not defined or section != 'category' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('categoria') }}">Listar Categorias</a></li>
		                    <li><a href="{{ path('categoria_new') }}">Agregar Categoria</a></li>
		                </ul>
		            </li>
		            <li>
    	                <a href="#" class="menu_title">Administrar Reglas</a>
		                <ul {% if section is not defined or section != 'rules' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('regla') }}">Listar Reglas</a></li>
		                    <li><a href="{{ path('regla_new') }}">Agregar Regla</a></li>
		                </ul>
		            </li>
 		            <li>
    	                <a href="#" class="menu_title">Mantenimiento</a>
		                <ul {% if section is not defined or section != 'maintenance' %}style="display: none;"{% endif %} class="menuinterno">
		                    <li><a href="{{ path('datos') }}">Base de Datos</a></li>
{#		                    <li><a href="">Usuarios</a></li>
		                    <li><a href="">Extras</a></li>
#}		                </ul>
		            </li>
                    <li>
		                <a href="index.html">Desconectarse</a>
		            </li>
		        </ul>
		    </div>
            <div class="span9">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.menu_title').click(function() {
            $(this).closest('li').find('ul').toggle('fast');
        });
    </script>
{% endblock %}
