    <div class="span12">
        <div class="row-fluid">
            <div class="span3">
                <div class="row-fluid">
                    {{ form_label(edit_form.nombre) }}
                    {{ form_errors(edit_form.nombre) }}
                    {{ form_widget(edit_form.nombre) }}
                </div>
            </div>
        </div>
        {% include 'DNTWorkshopBundle:Regla:table.html.twig' with {'parent_form': 'category'} %}
    </div>
    {{ form_widget(edit_form._token) }}

    {% javascripts '@DNTWorkshopBundle/Resources/public/js/nueva_regla.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
