{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Categorias{% endblock %}

{% block content %}
    <br />
    <h2>Edición de Categoria</h2>
    <br />

    <form action="{{ path('categoria_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
        {% include 'DNTWorkshopBundle:Categoria:categoryFields.html.twig' %}


            <div class="row">
                <button type="submit" class="btn btn-success"><i class="icon-ok-sign icon-white"></i> Modificar</button>
                <button type="submit" class="btn btn-success" onclick="location='{{ path('categoria') }}';return true;"><i class="icon-ok-sign icon-white"></i> Modificar y continuar</button>
            </div>
        {{ form_rest(edit_form) }}
    </form>

    <form action="{{ path('categoria_delete', { 'id': entity.id }) }}" method="post" onsubmit="return confirm('¿Está seguro que desea eliminar el elemento?');">
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger" onclick=""><i class="icon-trash icon-white"></i>Eliminar</button>
    </form>
{% endblock %}
