{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Categorias{% endblock %}

{% block content %}
    <br />
    <h2>Categorias</h2>
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="{{ entity.id }}">
                <td>{{ entity.nombre }}</td>
                <td class="center">
                    <button class="btn btn-info" onclick="location='{{ path('categoria_show', { 'id': entity.id }) }}'"><i class="icon-file icon-white"></i></button>
                    <button class="btn btn-primary" onclick="location='{{ path('categoria_edit', { 'id': entity.id }) }}'"><i class="icon-pencil icon-white"></i></button>
                    <button type="submit" class="btn btn-danger" onclick="delete_item('{{ path('categoria_delete', { 'id': entity.id }) }}', '{{entity.id}}', '{{ csrf_token }}', 'Esta seguro que desea eliminar este elemento?')"><i class="icon-trash icon-white"></i></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if entities %}
        {{ entities.render()|raw }}
    {% endif %}


    <button class="btn btn-success" onclick="location='{{ path('categoria_new') }}'"><i class="icon-plus icon-white"></i> Añadir nueva categoria</button>
    {% javascripts '@DNTWorkshopBundle/Resources/public/js/ajax_delete.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
