{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Categorias{% endblock %}

{% block content %}
    <br />
    <h2>Categoria</h2>
    <br />


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button class="btn btn-info" onclick="location='{{ path('categoria') }}'"><i class="icon-arrow-left icon-white"></i></button>
    <button class="btn btn-primary" onclick="location='{{ path('categoria_edit', { 'id': entity.id }) }}'"><i class="icon-pencil icon-white"></i></button>
            <form action="{{ path('categoria_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger" onclick=""><i class="icon-trash icon-white"></i></button>
            </form>
{% endblock %}
