
<div class="alert alert-block alert-info {% if not app.session.hasFlash('notice') %}none{% endif %}">
    <p><strong>{{ 'NOTIFICACIÓN:'|trans }}</strong> <span>{{ app.session.flash('notice')|trans }}</span></p>
</div>
<div class="alert alert-block alert-error {% if not app.session.hasFlash('error') %}none{% endif %}">
    <p><strong>{{ 'ERROR:'|trans }}</strong> <span>{{ app.session.flash('error')|trans }}</span></p>
</div>
<div class="alert alert-block alert-success {% if not app.session.hasFlash('success') %}none{% endif %}" id="confirmMsg">
    <p><strong>{{ 'OK:'|trans }}</strong> <span>{{ app.session.flash('success')|trans }}</span></p>
</div>
<div class="alert alert-block {% if not app.session.hasFlash('attention') %}none{% endif %}">
    <p><strong>{{ 'ATENCIÓN:'|trans }}</strong> <span>{{ app.session.flash('attention')|trans }}</span></p>
</div>

