{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Pedidos{% endblock %}

{% block content %}
    <br />
    <h2>Pedidos a Proveedores</h2>
    <br />
    {% for item in articles %}
        <div id="{{ item.provider.id }}">
            <div class="clearfix provider">
                <strong>{{ item.provider.nombre }} {{ item.provider.apellido }}</strong>
                <button class="btn btn-mini btn-success success" id="submit"><i class="icon-ok icon-white"></i> Confirmar Pedido</button>
                <button class="btn btn-mini btn-danger delete" id="clean"><i class="icon-trash icon-white"></i> Eliminar Pedido</button>
                <button class="btn btn-mini btn-success details"><i class="icon-arrow-down icon-white"></i> <span>Mostrar Artículos</span></button>
            </div>
            <table class="table table-striped" style="display:none">
                <tr>
                    <th>Nombre</th>
                    <th>Código Barra</th>
                    <th>Descripción</th>
                    <th class="right">Cantidad</th>
                </tr>
                {% for article in item.article %}
                    <tr>
                        <td>{{ article.nombre }}</td>
                        <td>{{ article.codigoBarra }}</td>
                        <td>{{ article.descripcion }}</td>
                        <td class="right"><strong>{{ attribute(quantity, article.id) }}</strong></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

    <script typei="text/javascript">

        $('.provider').find('button.details').click(function() {
            var btnText  = $(this).find('span');
            var btnImage = $(this).find('i');

            btnImage.toggleClass('icon-arrow-up');
            btnImage.toggleClass('icon-arrow-down');

            var text = btnText.text() == 'Mostrar Artículos' ? 'Ocultar Artículos' : 'Mostrar Artículos';
            btnText.text(text);

            $(this).parent().parent().find('table').toggle('fast');
        });

        $('.delete').click(function() {
            if (confirm("¿Está seguro que desea eliminar el pedido?")) {
                var url  = '{{ path('DNTWorkshopBundle_ajax_delorder') }}';
                var data = {
                    "id_proveedor": $(this).parent().parent().attr('id')
                };

                $.post(url, data, function(data) {
                    $('#' + data.id).remove();
                });
            }
        });

        $('.success').click(function() {
            if (confirm("¿Desea confirmar el pedido y agregar los artículos al stock?")) {
                var url  = '{{ path('DNTWorkshopBundle_ajax_confirmorder') }}';
                var data = {
                    "id_proveedor": $(this).parent().parent().attr('id')
                };

                $.post(url, data, function(data) {
                    $('#' + data.id).remove();
                });
            }
        });
    </script>
{% endblock %}
