{% extends 'DNTWorkshopBundle:Default:layout.html.twig' %}

{% block subtitle %}Ventas{% endblock %}

{% block content %}
    <br />
    <h2>Ventas realizadas</h2>
    <br />
    {% for sale in sales %}
        <div>
            <div class="clearfix provider">
                <strong>{{ sale.creado|date('d/m/Y') }}</strong> - Factura Nro: {{ sale.nroFactura }}
                <button class="btn btn-mini btn-primary"><i class="icon-arrow-down icon-white"></i> <span>Mostrar Detalle</span></button>
            </div>
            <table class="table table-striped" style="display:none">
                <tr>
                    <th>Artículo</th>
                    <th class="right">Cantidad</th>
                    <th class="right">Precio Artículo</th>
                    <th class="right">Precio Total</th>
                </tr>
                {% set total = 0 %}
                {% for renglon in sale.getRenglones %}
                    <tr>
                        <td>{{ renglon.getArticulo.nombre }}</td>
                        <td class="right">{{ renglon.cantidad }}</td>
                        <td class="right">${{ renglon.precioArticulo|number_format(2, '.', ' ') }}</td>
                        <td class="right"><strong>${{ renglon.precioTotal|number_format(2, '.', ' ') }}</strong></td>
                    </tr>
                    {% set total = total + renglon.precioTotal %}
                {% endfor %}
                <tr>
                    <td colspan="3" class="right"><strong>Total:</strong></td>
                    <td id="total" class="right"><strong>${{ total|number_format(2, '.', ' ') }}</strong></td>
                </tr>
            </table>
        </div>
    {% endfor %}

    <script type="text/javascript">
        $('.provider').find('button').click(function() {
            var btnText  = $(this).find('span');
            var btnImage = $(this).find('i');

            btnImage.toggleClass('icon-arrow-up');
            btnImage.toggleClass('icon-arrow-down');

            var text = btnText.text() == 'Mostrar Detalle' ? 'Ocultar Detalle' : 'Mostrar Detalle';
            btnText.text(text);

            $(this).parent().parent().find('table').toggle('fast');
        });
    </script>
{% endblock %}
